@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #F9193D; 
    --secondary: #2F7DA2;
  }
  
  body {
    @apply bg-white text-gray-900;
  }
}

.font-greycliff {
  font-family: 'Greycliff CF', sans-serif;
}

