@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #FF385C;
    --secondary: #41B6E6;
  }
  
  body {
    @apply bg-white text-gray-900;
  }
}

.font-greycliff {
  font-family: 'Greycliff CF', sans-serif;
}

